<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Lab</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/layouts/main">
    <link rel="stylesheet" href="/css/icons/flaticon">

    <!-- JS -->
    <script type="application/javascript" src="/js/loader"></script>
</head>
<body>
    <!-- <div class="header">
        <img class="header-logo" src="/img/logo" alt=""/>
        <div class="header-title"> Web Lab </div>
    </div> -->
    <wl-image-slider src[0]="https://loremflickr.com/320/240" src[1]="https://loremflickr.com/320/240" ></wl-image-slider>
    <div class="image-slider"></div>
    <div id="root"></div>
</body>
</html>