<!DOCTYPE html>
<html lang="en" class="loading">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Lab</title>

    <link rel="icon" href="/img/logo">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/layouts/animations">
    <link rel="stylesheet" href="/css/layouts/main">

    <!-- JS -->
    <script type="application/javascript" src="/js/loader"></script>

    <!-- Third Party Libs -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="event-loading">
        <img class="header-logo" src="/img/logo" alt="" />
        <div class="header-title"> Web Lab </div>
    </div>
    <wl-image-slider src[0]="https://picsum.photos/1853/903" src[1]="https://picsum.photos/1853/903"
        src[2]="https://picsum.photos/1853/903">
        <div class="button-belt">
            <span class="material-icons" id="button-scroll">arrow_drop_down_circle</span>
        </div>
    </wl-image-slider>

    <div class="header">
        <img class="header-logo" src="/img/logo" alt="" />
        <div class="header-title"> Web Lab </div>
    </div>
    <div id="root"></div>
    <div class="root-background" id="scroll-target">
        <span class="ball ball-left">
        </span>
        <span class="ball ball-right">
            <span class="material-icons">redo</span>
        </span>
    </div>
</body>

</html>