	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:17
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-add-web-page:before { content: "\f100"; }
.flaticon-apps-development:before { content: "\f101"; }
.flaticon-asp-logo:before { content: "\f102"; }
.flaticon-binary-code-on-laptop:before { content: "\f103"; }
.flaticon-binary-thinking:before { content: "\f104"; }
.flaticon-blocked-text-page:before { content: "\f105"; }
.flaticon-bullet-list-marked:before { content: "\f106"; }
.flaticon-c-logo:before { content: "\f107"; }
.flaticon-c-logo-1:before { content: "\f108"; }
.flaticon-c-page:before { content: "\f109"; }
.flaticon-calendar-small-page:before { content: "\f10a"; }
.flaticon-cloud-coding:before { content: "\f10b"; }
.flaticon-cloud-folder:before { content: "\f10c"; }
.flaticon-cloud-inbox-downloading-files:before { content: "\f10d"; }
.flaticon-cloud-link-to-database:before { content: "\f10e"; }
.flaticon-cloud-linked-to-folders:before { content: "\f10f"; }
.flaticon-cloud-protection:before { content: "\f110"; }
.flaticon-cls-logo:before { content: "\f111"; }
.flaticon-code-file:before { content: "\f112"; }
.flaticon-coder-head:before { content: "\f113"; }
.flaticon-coderwall-logo:before { content: "\f114"; }
.flaticon-coding-funnel:before { content: "\f115"; }
.flaticon-coding-ideas:before { content: "\f116"; }
.flaticon-computer-bug:before { content: "\f117"; }
.flaticon-computer-user:before { content: "\f118"; }
.flaticon-connectivity-diagram:before { content: "\f119"; }
.flaticon-css-file:before { content: "\f11a"; }
.flaticon-css-page:before { content: "\f11b"; }
.flaticon-cute-rocket-launching:before { content: "\f11c"; }
.flaticon-database-interlinked:before { content: "\f11d"; }
.flaticon-database-settings:before { content: "\f11e"; }
.flaticon-database-sign:before { content: "\f11f"; }
.flaticon-databases-symbol:before { content: "\f120"; }
.flaticon-delete-settings:before { content: "\f121"; }
.flaticon-digital-security:before { content: "\f122"; }
.flaticon-draft-button:before { content: "\f123"; }
.flaticon-electric-plugin:before { content: "\f124"; }
.flaticon-enter-sign:before { content: "\f125"; }
.flaticon-exit-symbol:before { content: "\f126"; }
.flaticon-external-link:before { content: "\f127"; }
.flaticon-folder-access:before { content: "\f128"; }
.flaticon-folder-hierarchy:before { content: "\f129"; }
.flaticon-folder-password:before { content: "\f12a"; }
.flaticon-folder-settings:before { content: "\f12b"; }
.flaticon-folders-linked:before { content: "\f12c"; }
.flaticon-global-search-settings:before { content: "\f12d"; }
.flaticon-globe-connection:before { content: "\f12e"; }
.flaticon-html-laptop-browser:before { content: "\f12f"; }
.flaticon-interlinked-clouds:before { content: "\f130"; }
.flaticon-interlinked-folder:before { content: "\f131"; }
.flaticon-java-coding:before { content: "\f132"; }
.flaticon-js-file:before { content: "\f133"; }
.flaticon-jsp-file:before { content: "\f134"; }
.flaticon-laptop-browser:before { content: "\f135"; }
.flaticon-link-page:before { content: "\f136"; }
.flaticon-list-with-check-boxes:before { content: "\f137"; }
.flaticon-locked-code:before { content: "\f138"; }
.flaticon-low-speed:before { content: "\f139"; }
.flaticon-maximise-button:before { content: "\f13a"; }
.flaticon-mini-robot:before { content: "\f13b"; }
.flaticon-mini-usb:before { content: "\f13c"; }
.flaticon-minimise-button:before { content: "\f13d"; }
.flaticon-mobile-and-pc-linked:before { content: "\f13e"; }
.flaticon-multilayer-graph:before { content: "\f13f"; }
.flaticon-navigation-toolbar:before { content: "\f140"; }
.flaticon-new-tab:before { content: "\f141"; }
.flaticon-page-settings:before { content: "\f142"; }
.flaticon-page-unlock:before { content: "\f143"; }
.flaticon-paper-pin:before { content: "\f144"; }
.flaticon-pc-coding:before { content: "\f145"; }
.flaticon-pc-settings:before { content: "\f146"; }
.flaticon-php-file:before { content: "\f147"; }
.flaticon-private-sign:before { content: "\f148"; }
.flaticon-processor:before { content: "\f149"; }
.flaticon-ps-file:before { content: "\f14a"; }
.flaticon-py-file:before { content: "\f14b"; }
.flaticon-python-snake:before { content: "\f14c"; }
.flaticon-robotic-arm:before { content: "\f14d"; }
.flaticon-save-disc:before { content: "\f14e"; }
.flaticon-search-for-pc-bugs:before { content: "\f14f"; }
.flaticon-server-database:before { content: "\f150"; }
.flaticon-settings-tool:before { content: "\f151"; }
.flaticon-smartphone-bug:before { content: "\f152"; }
.flaticon-smartphone-settings:before { content: "\f153"; }
.flaticon-speedometer-needle:before { content: "\f154"; }
.flaticon-speedometer-on:before { content: "\f155"; }
.flaticon-statistics-on-a-screen:before { content: "\f156"; }
.flaticon-sun-covered-by-clouds:before { content: "\f157"; }
.flaticon-three-gears:before { content: "\f158"; }
.flaticon-three-routers:before { content: "\f159"; }
.flaticon-unblocked-codes:before { content: "\f15a"; }
.flaticon-universal-coding:before { content: "\f15b"; }
.flaticon-upload-from-ooutbox-to-cloud:before { content: "\f15c"; }
.flaticon-user-key-on-screen:before { content: "\f15d"; }
.flaticon-vb-file:before { content: "\f15e"; }
.flaticon-warning-sign-mobile:before { content: "\f15f"; }
.flaticon-web-edition:before { content: "\f160"; }
.flaticon-web-search:before { content: "\f161"; }
.flaticon-web-settings-confirmed:before { content: "\f162"; }
.flaticon-wireless-grib-globe:before { content: "\f163"; }