<div id="about" class="component">
    <link rel="stylesheet" href="/css/components/about">
    <div class="about-title">ABOUT US</div>
    <p>
        Welcome to Web Lab, your number one tool for webpage creating. We're
        dedicated to giving you the very best of tools for web development.
    </p>
    <p>
        Founded in 2020 by mr. 314, Web Lab has come a long way from its beginnings in a our founder's head.
        When mr. 314 first started out, his passion for creating new inovative ways in web development drove him
        to in his words: "Do this shit!", and gave him the impetus to turn hard work and inspiration into to a
        booming platform. We now serve customers all over the world, and are thrilled to be a part of
        the painless wing of the web development industry.
    </p>
    <p>
        We hope you enjoy our products as much as we enjoy offering them to you. Fell free to post your opinion on
        our public customer forum page.
    </p>
    <p>
        Sincerely,
        Web Lab Team
    </p>
</div>