<div id="home">
    <link rel="stylesheet" href="/css/components/home">
    <wl-belt-navigator style="height:512px">
        <div class="button-big">
            <img src="https://picsum.photos/1853/903" alt="">
            <div class="text">
                <span class="material-icons">
                    contact_support
                </span>
            </div>
        </div>
        <div class="button-big">
            <div class="text">
                <span class="material-icons">
                    question_answer
                </span>
            </div>
            <img src="https://picsum.photos/1853/903" alt="">
        </div>
        <div class="button-big">
            <img src="https://picsum.photos/1853/903" alt="">
            <div class="text">
                <span class="material-icons">
                    question_answer
                </span>
            </div>
        </div>
        <div class="button-big">
            <div class="text">
                <span class="material-icons">
                    question_answer
                </span>
            </div>
            <img src="https://picsum.photos/1853/903" alt="">
        </div>
    </wl-belt-navigator>
</div>