<div id="home" class="component">
    <link rel="stylesheet" href="/css/components/home">
    <wl-belt-navigator style="height:512px">
        <div class="button-big" target="about">
            <img src="https://picsum.photos/1853/903" alt="">
            <div class="text">
                <span class="material-icons">
                    contact_support
                </span>
                about us
            </div>
        </div>
        <div class="button-big" target="forum">
            <div class="text">
                <span class="material-icons">
                    question_answer
                </span>
                forum
            </div>
            <img src="https://picsum.photos/1853/903" alt="">
        </div>
        <div class="button-big" target="manual">
            <img src="https://picsum.photos/1853/903" alt="">
            <div class="text">
                <span class="material-icons">
                    explore
                </span>
                manual
            </div>
        </div>
        <div class="button-big" target="platform">
            <div class="text">
                <span class="material-icons">
                    developer_mode
                </span>
                platform
            </div>
            <img src="https://picsum.photos/1853/903" alt="">
        </div>
    </wl-belt-navigator>
</div>