@keyframes fade-out {
    100% { 
        opacity: 0; 
        display: none;
    }
}

@keyframes bubbles {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
        transform:translate(0, -20%);
    }
    100% {
        opacity: 0;
        transform:translate(0, -1000%);
    }
}

@-webkit-keyframes slide-out-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% -500px;
                transform-origin: 50% -500px;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-600px) rotateX(20deg) scale(6);
                transform: translateY(-600px) rotateX(20deg) scale(6);
        -webkit-transform-origin: 50% 200%;
                transform-origin: 50% 200%;
        opacity: 0;
    }
}
@keyframes slide-out-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% -500px;
                transform-origin: 50% -500px;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-600px) rotateX(20deg) scale(6);
                transform: translateY(-600px) rotateX(20deg) scale(6);
        -webkit-transform-origin: 50% 200%;
                transform-origin: 50% 200%;
        opacity: 1;
    }
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: center center;
                transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
                transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
                transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
                transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: center center;
                transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
                transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
                transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
                transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
}

@-webkit-keyframes scale-up-ver-center {
        0% {
                -webkit-box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
                  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
        }
        100% {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
}
@keyframes scale-up-ver-center {
        0% {
                -webkit-box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
                  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
        }
        100% {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
}
@-webkit-keyframes scale-down-ver-center {
        0% {
                -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
        100% {
                -webkit-box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
                  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
                -webkit-transform: scale(1);
                transform: scale(1);
        }
}
@keyframes scale-down-ver-center {
        0% {
                -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
        100% {
                -webkit-box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
                  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
                -webkit-transform: scale(1);
                transform: scale(1);
        }
}

@-webkit-keyframes scale-in-ver-bottom {
        0% {
                -webkit-transform: scaleY(0);
                        transform: scaleY(0);
                -webkit-transform-origin: 0% 100%;
                        transform-origin: 0% 100%;
                opacity: 1;
        }
        100% {
                -webkit-transform: scaleY(1);
                        transform: scaleY(1);
                -webkit-transform-origin: 0% 100%;
                        transform-origin: 0% 100%;
                opacity: 1;
        }
}
@keyframes scale-in-ver-bottom {
        0% {
                -webkit-transform: scaleY(0);
                        transform: scaleY(0);
                -webkit-transform-origin: 0% 100%;
                        transform-origin: 0% 100%;
                opacity: 1;
        }
        100% {
                -webkit-transform: scaleY(1);
                        transform: scaleY(1);
                -webkit-transform-origin: 0% 100%;
                        transform-origin: 0% 100%;
                opacity: 1;
        }
}

@-webkit-keyframes slide-in-bottom {
        0% {
                -webkit-transform: translateY(1000px);
                        transform: translateY(1000px);
                opacity: 0;
        }
        100% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                opacity: 1;
        }
}
@keyframes slide-in-bottom {
        0% {
                -webkit-transform: translateY(1000px);
                        transform: translateY(1000px);
                opacity: 0;
        }
        100% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                opacity: 1;
        }
}
@-webkit-keyframes slide-out-top {
        0% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
        }
        100% {
                -webkit-transform: translateY(-100%);
                        transform: translateY(-100%);
        }
}
@keyframes slide-out-top {
        0% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
        }
        100% {
                -webkit-transform: translateY(-100%);
                        transform: translateY(-100%);
        }
}
@-webkit-keyframes jello-horizontal {
        0% {
                -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
        }
        30% {
                -webkit-transform: scale3d(1.25, 0.75, 1);
                        transform: scale3d(1.25, 0.75, 1);
        }
        40% {
                -webkit-transform: scale3d(0.75, 1.25, 1);
                        transform: scale3d(0.75, 1.25, 1);
        }
        50% {
                -webkit-transform: scale3d(1.15, 0.85, 1);
                        transform: scale3d(1.15, 0.85, 1);
        }
        65% {
                -webkit-transform: scale3d(0.95, 1.05, 1);
                        transform: scale3d(0.95, 1.05, 1);
        }
        75% {
                -webkit-transform: scale3d(1.05, 0.95, 1);
                        transform: scale3d(1.05, 0.95, 1);
        }
        100% {
                -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
        }
}
@keyframes jello-horizontal {
        0% {
                -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
        }
        30% {
                -webkit-transform: scale3d(1.25, 0.75, 1);
                        transform: scale3d(1.25, 0.75, 1);
        }
        40% {
                -webkit-transform: scale3d(0.75, 1.25, 1);
                        transform: scale3d(0.75, 1.25, 1);
        }
        50% {
                -webkit-transform: scale3d(1.15, 0.85, 1);
                        transform: scale3d(1.15, 0.85, 1);
        }
        65% {
                -webkit-transform: scale3d(0.95, 1.05, 1);
                        transform: scale3d(0.95, 1.05, 1);
        }
        75% {
                -webkit-transform: scale3d(1.05, 0.95, 1);
                        transform: scale3d(1.05, 0.95, 1);
        }
        100% {
                -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
        }
}
      