html, 
body {
    margin: 0;
    padding: 0;
    background: #659dbd;
    overflow-x: hidden;
    position: relative;
}

.loading {
    overflow-y: hidden;
}

.header {
    height: 48px;
    box-shadow: 0px 0px 16px #17252a;
    background: #2c3531;
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;
    z-index: 100;
}

.header-logo {
    height: 32px;
    width: auto;

    margin-left: 4px;
}

.header-title {
    color: #659dbd;
    align-self: end;
    margin-bottom: 4px;
    margin-left: 3px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Arial;
}

#root {
    height: calc(100vh - 80px);;
    width: 100%;
    padding-top: 32px;
}

.particle-bubble {
    opacity:0;
    position: absolute;
    background:#659dbd;
    animation: bubbles 3s ease-in infinite;
    border-radius:100%;
    z-index: 105;
}

.event-loading {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background: #2c3531;
    
    opacity: 1;

    justify-content: center;
    align-items: center;
}

.event-loading > .header-logo {
    height: 128px;
}

.event-loading > .header-title {
    align-self: inherit;
    font-size: 84px;
    margin-bottom: -37px;
}

.event-loading.done {
    animation: slide-out-elliptic-top-fwd 1s forwards;
    animation-delay: 3s;
}

.event-content {
    overflow: hidden;
}

.button-belt {
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}

.button-belt > .material-icons {
    color: #659dbd;
    font-size: 64px;
    text-shadow: 0px 0px 8px black;
    -webkit-animation: heartbeat 1.5s ease-in infinite both;
    animation: heartbeat 1.5s ease-in infinite both;
}

#button-scroll {
    cursor: pointer;
}

.root-background {
    width: 100%;
    position: absolute;
    bottom: -34px;
    display: flex;
    bottom: 0;
    overflow: hidden;
}

.root-background > .ball {
    background: #2c3531;
    width: 256px;
    height: 256px;
    display: block;
    border-radius: 50%;
    margin-bottom: -128px;
}

.ball.ball-left {
    margin-right: auto;
    margin-left: -128px;
}

.ball.ball-right {
    margin-right: -128px;
    margin-left: auto;
}

.box {
    min-width: 512px;
    min-height: 612px;
    box-shadow: 0px 0px 16px #17252a;
}

.box > .box-header {
    height: 32px;
    background: #2c3531;
    color: whitesmoke;
}

.box > .box-body {
    height: calc(100% - 32px);
    color: #2c3531;
    background: whitesmoke;
}

.button-big {
    background: #2c3531;
    color: #659dbd;
    display: flex;
    flex-flow: column;
    max-width: 320px;
}

.button-big > * {
    flex: 1;
}

.button-big > img {
    width: 100%;
    height: auto;
}

.button-big > .text {
    display: flex;
    flex-flow: column;
    color: #659dbd;

    font-size: 24px;
    justify-content: center;
    text-align: center;

    text-transform: uppercase;
    font-family: Arial;
    font-weight: 600;
}

.button-big > .text > span {
    font-size: 92px;
}

.component {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.component.exit {
    -webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.hide {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}